<html>
	<head>
	</head>
	<body>
		<h1 class="info"><%= @user %>'s Profile</h1>
		<div id="border">
			<div id="img1"></div>
			<div id="text1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nobis dolore quos sapiente alias ipsum optio, molestias in atque, suscipit, asperiores qui. Necessitatibus ab recusandae facere, saepe et quasi, nihil.</div>
			<div id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia excepturi labore temporibus dolore nam illo, aliquam fugit dolorum totam dignissimos quis eos! Dolore quaerat labore ex repudiandae nobis officiis quam.</div>
			<div id="img2"></div>
			<div class="save">Done</div>
		</div>
	</body>
</html>