
<h1 class="info"><%= @user %>'s Profile</h1>
<div class='row'>
	<div class="col-md-4 col-md-offset-4 heading">	
		<div id="img1"></div>
	</div>	
</div>

<div class="row">
	<div class="col-md-4">
		<div class="content">
			<div id="text1"></div>
			<div id="text2"></div>
			<div id="img2"></div>
		</div>
	
	</div>
	<div class="col-md-4">
		<div class="content">
			<div id="text1"></div>
			<div id="text2"></div>
			<div id="img2"></div>	
		</div>		
	</div>
	<div class="col-md-4">
		<div class='content'>
			<div id="text1"></div>
			<div id="text2"></div>
			<div id="img2"></div>	
		</div>		
	</div>
</div>
<div class="save">Done</div>




