<html>
	<head>
		<title>Project Profile</title>
	</head>
	<body>
		<div class="logo">
			<h1 class="name">Project Profile</h1>
		</div>
		<br>
		<div class="black">
			<div class="info">
				<h4 class="welcome">Welcome to Project Profile, a site for building and sharing your own profiles easily and efficiently.You can use your own images and upload them to create a profile thats completely unique. To get started, please create an account if your a new user, or go ahead and log in if you're an existing user.</h4>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-4">
				<button type="button" class="btn btn-default button">Sign up</button>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-default button">Log in</button>
			</div> 
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1 col-sm-offset-5">
				<%= link_to "Get Started", "/profiles", class: "btn btn-primary start" %>
			</div>
		</div>
	</body>
</html>