/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #6600CC;
	overflow-x: hidden; /* keeps the page from swaying horizontally */
}

.logo { /* the logo that is found on the main page */
	background-image: url("gear_background.jpg");
	background-size: cover;
	text-shadow: 1px red;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	color: white;
	border: 10px dashed white;
	border-width: 5px;
	border-height: 5px;
	background-color: transparent;
	width: 400px;
	height: 200px;
	position: relative;
}

.logo:hover { /* mouse over effect for the logo */
	border: 5px solid white;
}

.name {
	padding-top: 15%;
}

.info {
	padding-bottom: 30px;
	margin: 0 auto;
	background-color: black;
	color: white;
	text-align: center;
}

.welcome { /* introductory text to the site */
	text-align: center;
	margin: 0 auto;
	padding-top: 5%;
	width: 500px;
	height: 200px;
}


.heading {
	margin-top: 10px;
	border: 2px solid white;
	height: 300px;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;	
	border: 2px solid white;
	height: 250px;
}

.button { /* buttons on the main page */
	padding-top: 10px;
	width: 120px;
	height: 40px;
}

.start {
	padding-top: 14px;
	width: 160px;
	height: 50px; 
}

.save {
	margin-top: 10px;
	background-color: black;
	color: white;
	font-size: 24px;
	float: right;
	margin-right: 25px;
}

.box {
	width: 80%;
	height: 50%;
	margin-top: 35%;
}

.form {
	width: 250px;
}

.text_field {
	height: 250px;
}

#info { /* subject to change */
	text-align: left;
	color: white;
	font-size: 25px;
	background-color: transparent;
	height: 248px;
	width: 416px;
}

#content { /* subject to change */
	text-align: left;
	color: white;
	font-size: 25px;
	background-color: transparent;
	height: 248px;
	width: 416px;
}

.black {
	color: black;
}









