/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #6600CC;
	overflow-x: hidden;
}

.logo {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	color: white;
	border: 10px dashed white;
	border-width: 5px;
	border-height: 5px;
	background-color: transparent;
	width: 400px;
	height: 200px;
	position: relative;
}

.logo:hover {
	border: 5px solid white;
}

.name {
	padding-top: 15%;
}

.info {
	margin: 0 auto;
	color: white;
	text-align: center;
}

.welcome {
	text-align: center;
	margin: 0 auto;
	padding-top: 5%;
	width: 400px;
	height: 200px;
}


.heading {
	margin-top: 10px;
	border: 2px solid white;
	height: 300px;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;	
	border: 2px solid white;
	height: 250px;
}
/*#img1 {
	border: 2px solid white;
	margin: 0 auto;
	margin-top: 20px;
}

#text1 {
	margin-top: 30px;
	margin-left: 220px;
	width: 300px;
	height: 180px;
	border: 2px solid white;
	float: left;
}

#text2 {
	margin-top: 30px;
	margin-left: 15px;
	width: 300px;
	height: 180px;
	border: 2px solid white;
	float: left;
}

#img2 {
	margin-top: 30px;
	margin-left: 15px;
	width: 300px;
	height: 180px;
	border: 2px solid white;
	float: left;
}*/

.save {
	color: white;
	font-size: 24px;
	float: right;
	margin-right: 25px;
}























